<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'chair.webp' %>) ">
  <div class="title-container">
    <h1>The Movie Vault</h1>
    <%= link_to "Add a new listâœðŸ»", new_list_path, class: 'add-list-button' %>
  </div>
</div>
<%# cards %>
