<div class="nav-container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"> Create a List! </a>
    <%= link_to "back to Lists", lists_path, class: 'btn btn-primary' %>
  </nav>
</div>

<div class="simple-form">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
