<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "movienav.png" %>
      <% end %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<%# end of nav %>
<div class="details">
  <h1>Create a Movie List</h1>
  <div class="form-container">
    <%=  render "form", list: @list %>
  </div>
</div>
