body{
  background-color: 232D3F;
}
// banner code start
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
.banner-show {
  background-size: cover;
  background-position: center;
  padding: 220px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.title-container{
  justify-content: center;
  display: grid;
  h1{
    padding-bottom: 20px;
    color: #FFFFFF;
  }
}
// button
/* CSS */
.add-list-button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-decoration: none;
}

.add-list-button:hover,
.add-list-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.add-list-button:active {
  opacity: .5;
}

.card-category{
  background-size: cover;
  background-position: center;
  padding: 150px 0;

}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
  border: #FFFFFF;

  a{
    text-align: center;
    text-decoration: none;
    color: white;
    display: flow;

  }
}

.card-title{
  text-align: center;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
