.create-form{
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  width: 20%;
  border-radius: 12px;
  margin-top: 16px;
}
.details{
  justify-content: flex-end;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 3%;
  h4{
    text-align: center;
  }
}
.button-center{
  justify-content: center;
  display: flex;
}
body{
  background-color: rgba(128, 128, 128, 0.381);
}
