.card-product {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


.bookmark-container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
}

.card {
  flex: 0 0 calc(25% - 16px);
  margin: 8px;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 12px white;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
}
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
  }

.card-category {
  position: relative;
  flex: 0 0 calc(25% - 16px);
  margin: 8px;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(244, 240, 240, 0.8);
  transition: box-shadow 0.3s ease-in-out;
}

.card-category:hover {
  box-shadow: 0 0 20px rgba(255, 0, 0, 1);
}

// .card-text {
//   h2{
//     text-align: center;
//   }
//   color: rgb(244, 237, 237);
//   text-align: center;
// }


// .bookmark-container {
//   column-count: 2;
//   column-gap: 20px;
//   column-count: 2;
//   margin: 20px;
//   display: inline-table;
// }

// /* Style for Column Items */
// .column-item {
//   margin-bottom: 20px;
//   margin-top: 20px;
// }
// .delete{
//   cursor: pointer;
// }
// //
// .bookmark-container {
//   display: flex;
//   flex-wrap: wrap;
//   margin: 16px;
// }

// .card {
//   flex: 0 0 calc(25% - 16px);
//   margin: 8px;
// }
